.skills{
    margin-top: 5em;
.skills__wrapper{

 .skills__header__title{

     .skills__title{
         margin-top: 1em;
        h3{
            @include welcome-text; 
        }
    
        h2{  
            margin-top: 1em;
             font-size: $serviceFont;
        }
     }

     .skills__button{
        color: $whiteColor;
        background: $greenColor;
     }
 }


  
.skills__container{
   margin-top: 2.5em;
   display: grid;
   grid-template-columns: repeat(3,minmax(18em,20em));
   grid-gap: 2em;
//   .skills__item{

//   }

  .skills__percent{
      font-size: $serviceFont;
      font-weight: 900;
        
    .amount{
        color: $darkGray;
    }

    // .percent{

    // }
  }

  .skills__bar{

        width: 20em;
        background: #0080003b;
        height: 0.55em;
        border-radius: 0.16em;
        margin-top: 1em;
        border-radius: $borderRadius;

        .inner__bar{
            width: 90%;
            height: 100%;
            background: $greenColor;
            border-radius: $borderRadius;
        }

  }

  .skills__content{
    margin-top: 1.3em;
    line-height: 1.5em;

    h4{
       font-size: $linksFont;
       font-weight: $blodFont;

    }

  }



}

}

}